@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lgas61');
  src:  url('fonts/icomoon.eot?lgas61#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lgas61') format('truetype'),
    url('fonts/icomoon.woff?lgas61') format('woff'),
    url('fonts/icomoon.svg?lgas61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightning:before {
  content: "\e900";
}
.icon-world:before {
  content: "\e915";
}
.icon-globe:before {
  content: "\e915";
}
.icon-internet:before {
  content: "\e915";
}
.icon-network:before {
  content: "\e915";
}
.icon-location:before {
  content: "\e901";
}
.icon-number:before {
  content: "\e902";
}
.icon-tablet:before {
  content: "\e903";
}
.icon-transformers:before {
  content: "\e904";
}
.icon-envelope:before {
  content: "\e916";
}
.icon-chevron-thin-left:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-arrow-right-circle:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-shopping-cart:before {
  content: "\e90a";
}
.icon-monetization_on:before {
  content: "\e90b";
}
.icon-sim_card:before {
  content: "\e90c";
}
.icon-headset_mic:before {
  content: "\e90d";
}
.icon-message:before {
  content: "\e90e";
}
.icon-wrench:before {
  content: "\e90f";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-options:before {
  content: "\e90f";
}
.icon-preferences:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location2:before {
  content: "\e948";
}
.icon-history:before {
  content: "\e94d";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-grin:before {
  content: "\e9e9";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-github:before {
  content: "\eab0";
}
.icon-android:before {
  content: "\eac0";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-search:before {
  content: "\e910";
}
.icon-chevron-right:before {
  content: "\e911";
}
.icon-building-o:before {
  content: "\e912";
}
.icon-chevron-circle-right:before {
  content: "\e913";
}
.icon-wechat:before {
  content: "\e914";
}
